{
    "semi": true,
    "tabWidth": 4,
    "printWidth": 100,
    "singleQuote": true,
    "trailingComma": "none",
    "bracketSameLine": true,
    "endOfLine": "auto",
    "overrides": [
        {
            "files": "*.md",
            "options": {
                "tabWidth": 2,
                "endOfLine": "auto"
            }
        }
    ]
}
